.preview-text {
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  color: $textColor;
  margin-bottom: 25px;
}
.thank-text {
  font-size: 13px;
  text-align: center;
  line-height: 20px;
}