ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
  margin-bottom: 20px;
}

.rating {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: $ratingBackgroundColor;
  color: $titleColor;
  }

.rating:focus {
  background-color: $btnColor;
}